<%- include("partials/header")  %>
<h1 class='text-center'>Meals with <%= qs.ingredient %> in <%= qs.location %></h1>

<div class="container-fluid">

      <%- include("partials/searchBar")  %>
  
</div>


<div class="container-fluid">

      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>
      <%- include("partials/card")  %>

</div>


<%- include("partials/footer")  %>