<%- include("../partials/header")  %>


<div class="container">
  <div class="row align-items-center">
    <div class="col">
    <h1><%= info.name %> </h1>
    <p><%= info.city %> </p>
    </div>
    <div class="col">
      <a class='btn btn-warning' href="/spot/<%= info._id %>/edit">Edit Restaurant</a>

      <form class='d-inline'action="/spot/<%= info._id %>?_method=DELETE" method='POST'>
        <button class='btn btn-danger'>DELETE</button>
      </form>
    </div>
  </div>
</div>

<div class="container">

 

</div>







<div class="container">
  <div class="row">
    <div class="col-6"><h2>Dishes</h2></div>
    <div class="col-6"><a class='btn btn-secondary' href="/spot/<%= info._id %>/dishes/new">Add New Dish</a></div>
  </div>
</div>



<% info.dishes.forEach(dish => { %>
<div class="container-fluid my-list">
  <a href='/spot/<%=info._id%>/dishes/<%=dish._id%>'><%= dish.name %></a>
</div>
<% }) %>


<%- include("../partials/footer")  %>